.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 500px;
    padding: 8px 16px;
    margin: 8px;
    height: 24px;
  }
  .search {
    input, input:focus {
      width: 300px;
      border:none;
      outline: none;
      background-image:none;
      background-color:transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: 'Work Sans', sans-serif;
    }
    mat-icon {
      height: 24px;
      width: 24px;
    }
  }
  .paginator {
    display: flex;
    flex-direction: row;
  }
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: scroll;
  padding: 8px;
}

.column {
  position: relative;
  display: flex;
  flex-direction: row;

  .resize {
    width: 16px;
    height: 100%;
    cursor: ew-resize;
  }
}

.cdk-drag:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.cdk-drag {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  transition: box-shadow 200ms linear;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 10px;
    letter-spacing: 1px;
    width: 100%;
    mat-icon {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    height: 24px;
    width: 100%;
    .player {
      width: 100%;
      white-space: nowrap;
      text-align: left;
    }
    .player-stat {
      width: 100%;
      text-align: center;
    }
  }
  .sort {
    position: absolute;
    top: 8px;
    right: -8px;
  }
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: all 250ms ease-in-out;
}

.table.cdk-drop-list-dragging .column:not(.cdk-drag-placeholder) {
  transition: transform 250ms ease-in-out;
}