<div class="filters">
  <div class="filter year">2019-20</div>
  <div class="filter type">Per Game</div>
  
  <!-- <div class="filter search"><input [(ngModel)]="data.search" (change)="search()" placeholder="Search"></div> -->
</div>

<div class="table" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)">
  <div class="column" *ngFor="let column of data.columns; let i = index">
    <div [style.width]="column.width + 'px'" cdkDrag>
      <div class="header" (click)="sortColumn(i)">{{ column.header }}
        <mat-icon *ngIf="data.sortColumns.includes(i)">arrow_drop_down</mat-icon>
      </div>
      <div class="stat" *ngFor="let stat of column.stats">
        <span *ngIf="i === 0" class="player">{{ stat | formatPlayer}}</span>
        <span *ngIf="i !== 0" class="player-stat">{{ stat }}</span>
      </div>
    </div>
    <div class="resize" draggable="true" (dragstart)="resizeStart($event)" (dragend)="resizeEnd($event, i)"></div> 
  </div>
</div>