.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .filter {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 500px;
    padding: 8px 16px;
    margin: 12px;
  }
  .search {
    input, input:focus {
      border:none;
      outline: none;
      background-image:none;
      background-color:transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: 'Work Sans', sans-serif;
    }
  }
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: scroll;
}

.column {
  position: relative;
  display: flex;
  flex-direction: row;
  .resize {
    width: 8px;
    height: 100%;
    // background: red;

    .resize-icon {
      display: none;
    }
    // display: none;
    // position: absolute;
    // top: 0;
    // right: 0;
    // color: rgba(0, 0, 0, 0.75);
    // height: 24px;
    // width: 32px;
    // text-align: center;
    // mat-icon {
    //   width: 6px;
    // }
  }
}

.column:hover {
  .resize:hover {
    display: block;
  }
}
.cdk-drag:hover {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.cdk-drag {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  // transition: transform 250ms ease-in-out;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 10px;
    letter-spacing: 1px;
    width: 100%;
    mat-icon {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    height: 24px;
    width: 100%;
    .player {
      width: 100%;
      white-space: nowrap;
      text-align: left;
    }
    .player-stat {
      width: 100%;
      text-align: center;
    }
  }
  .sort {
    position: absolute;
    top: 8px;
    right: -8px;
  }
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: all 250ms ease-in-out;
}

.table.cdk-drop-list-dragging .column:not(.cdk-drag-placeholder) {
  transition: transform 250ms ease-in-out;
}